<div class="container">
  <div class="row">
    <ul class="u-pull-left">
      <li><%= link_to "ðŸ¡", root_path, class: "button" %></li>
      <li><%= link_to "Listings", listings_path, class: "button"  %></li>
      <li><%= link_to "Bought Items", orders_bought_path, class: "button" %></li>
      <li><%= link_to "Sold Items", orders_sold_path, class: "button" %></li>
      <li><%= render 'search/form' %></li>
      <li><%= link_to "Help", help_path, class: "button" %></li>
    </ul>
    <ul class="u-pull-right">
    <% if account_signed_in? %>
      <li><%= link_to "Sign out", destroy_account_session_path, method: :delete, class: "button button-primary" %></li>
    <% else %>
      <li><%= link_to "Sign up", new_account_registration_path, class: "button button-primary" %></li>
    <%= link_to "Sign in", new_account_session_path, class: "button button-primary" %>
    <% end %>
    </ul>
    <div class="u-cf"></div>
</div>